{% extends "_layouts/shop/main.html.twig" %}

{% block main %}
    <div class="row">
        <div class="col-lg-7">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Order Summary</h4>
                </div><!--end card-header-->
                <div class="card-body">
                    <div class="table-responsive shopping-cart">
                        <table class="table mb-0">
                            <thead>
                            <tr>
                                <th class="border-top-0">Product</th>
                                <th class="border-top-0">Quantity</th>
                                <th class="border-top-0">Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if orderItems is not null %}
                                {% for orderItem in orderItems %}
                                    <tr>
                                        <td>
                                            <p class="d-inline-block align-middle mb-0">
                                                <a href="{{ url('shop_view', {id: orderItem.item.id}) }}" class="d-inline-block align-middle mb-0 product-name">{{ orderItem.item.itemName }}</a>
                                                <br>
                                            </p>
                                        </td>
                                        <td>
                                            {{ orderItem.quantity }}
                                        </td>
                                        <td>{{ (orderItem.item.itemPrice * orderItem.quantity) | number_format(0, ',', '.') }} VND</td>
                                    </tr>
                                {% endfor %}
                            {% endif %}

                            <tr>
                                <td>
                                    <h6>Total :</h6>
                                </td>
                                <td class="text-dark" colspan="2"><strong>{{ totalMoney | number_format(0, ',', '.') }} VND</strong></td>
                            </tr>
                            </tbody>
                        </table>
                    </div><!--end re-table-->
                    <div class="total-payment">
                        <table class="table mb-0">
                            <tbody>
                            <tr>
                                <td class="payment-title">Subtotal</td>
                                <td>{{ totalMoney | number_format(0, ',', '.') }} VND</td>
                            </tr>
                            <tr>
                                <td class="payment-title">Total</td>
                                <td class="text-dark"><strong>{{ totalMoney | number_format(0, ',', '.') }} VND</strong></td>
                            </tr>
                            </tbody>
                        </table><!--end table-->
                    </div><!--end total-payment-->
                </div><!--end card-body-->
            </div><!--end card-->
        </div><!--end col-->

        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Billing Details</h4>
                </div><!--end card-header-->
                <div class="card-body">
                    <form action="{{ url('payment_create') }}" method="post">
                        <input type="hidden" name="amount" value="{{ totalMoney }}">
                        <button type="submit" class="btn w-100 btn-soft-primary">Place Your Order</button>
                    </form>
                </div><!--end card-body-->
            </div><!--end card-->
        </div><!--end col-->
    </div><!--end row-->

{% endblock %}