<!-- Top Bar Start -->
<div class="topbar">
    <!-- Navbar -->
    <nav class="navbar-custom">
        <ul class="list-unstyled topbar-nav float-end mb-0 d-flex align-items-center">
            <li class="dropdown hide-phone">
                <a class="nav-link dropdown-toggle arrow-none waves-light waves-effect" data-bs-toggle="dropdown" href="#" role="button"
                   aria-haspopup="false" aria-expanded="false">
                    <i data-feather="search" class="topbar-icon"></i>
                </a>
            </li>

            {% if app.user %}
            <li class="dropdown">
                <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-bs-toggle="dropdown" href="#" role="button"
                   aria-haspopup="false" aria-expanded="false">
                    <span class="me-2 nav-user-name hidden-sm">{{ app.user.username | upper }}</span>
                    <img src="{{ asset('images/users/user-5.jpg') }}" alt="profile-user" class="rounded-circle thumb-xs" />
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                    <a class="dropdown-item" href="{{ url('app_logout') }}"><i data-feather="power" class="align-self-center icon-xs icon-dual me-1"></i> Logout</a>
                </div>
            </li>
            {% else %}
            <li class="dropdown">
                <a class="btn btn-outline-blue me-2" href="{{ url('app_login') }}" role="button"><span class="nav-user-name hidden-sm">Login</span></a>
                {% endif %}
        </ul><!--end topbar-nav-->

        <ul class="list-unstyled topbar-nav mb-0">
            <li>
                <button class="nav-link button-menu-mobile">
                    <i data-feather="menu" class="align-self-center topbar-icon"></i>
                </button>
            </li>

            <li class="creat-btn">
                <div class="nav-link">
                    <a href="{{ url('shop_list') }}" class=" btn btn-sm btn-soft-primary" role="button"><i class="fas fa-shopping-cart me-2"></i>Shop</a>
                </div>
            </li>
        </ul>
    </nav>
    <!-- end navbar-->
</div>
<!-- Top Bar End -->